:root {
  --orange: #ff5945;
  --darkorange: #f05342;
  --pink: #ec4899;
  --purple: #4e085f;
  --blue: #153677;
  --darkblue: #002765;
  --white: #fff;
  --white2: #eee;
  --white3: #edeef0;
  --gray: #b7b7b7;
  --gray2: #808080;
  --gray3: #6b7280;
  --gray4: #555;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--blue), var(--purple));
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: var(--white);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: var(--darkblue);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white3);
  border-radius: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: var(--orange);
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  background: var(--darkorange);
}

ul {
  box-sizing: border-box;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: var(--gray4);
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: var(--gray4);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.edit {
  position: absolute;
  right: 30px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: var(--gray4);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

li button {
  display: flex;
  position: absolute;
  right: 0px;
  top: 10px;
  width: 60px;
  border: none;
  outline: none;
  margin: 0;
  padding: 10px 40px;
  background: var(--orange);
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
}

ul li span:hover {
  background-color: var(--white3);
}

.filters {
  box-sizing: border-box;
  position: relative;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.filters button {
  box-sizing: border-box;
  height: 22px;
  line-height: 22px;

  color: var(--gray);
  margin: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
}

.filters button:hover {
  /* border-bottom: 2px solid #ccc; */
  color: var(--gray2);
}

.clear {
  display: flex;
  justify-content: flex-end;
}

.clear button {
  box-sizing: border-box;
  height: 22px;
  line-height: 22px;
  color: var(--gray);
  margin: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0;
}

.clear button:hover {
  color: var(--gray2);
}

.filters .selected {
  color: var(--pink);
  background-image: linear-gradient(to right, var(--orange), var(--darkorange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  cursor: not-allowed;
  pointer-events: none;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: var(--white3);
  /* background: transparent; */
  padding-left: 20px;
  border-radius: 25px;
  margin-right: 50px;
}

.hidden {
  display: none;
}
